    ########################################################################################################################################

    This file is used to configure your server. If nothing is set in this file default options will be used.
    Options are set using the option name and value separated by one sapce. It's mandatory to use every option in a new line.
    Using spaces other than between command and value in .CONFIG is restricted.
    
    Options List:

        Listen [port]
            Used to define port or ports that Glasses must listen to and respond to HTTP requests on that port.
            Can be used in multiple lines to set multiple ports. Default is 80.
            Example: Listen 80
        
        Block [IP(s)]
            Used to block specific IPs. Can provide more than one ip per line by separating them using single space.
            Example: Block 192.168.1.1 192.168.1.2 192.168.1.3
        
        Default [page]
            Used to define the default page of the website. Default is default.sjs and file that is setted will be addressing from the route.

        Route [path]
            Used to set the default folder to serve from. Default is public_html.

        Charset [charset]
            Used to define HTTP header charset. Can be used only once and the last one is valid. Default is UTF-8.
            Example: Charset UTF-8

        SecretKey [key]
            Used to define secret key which is used to encrypt IPVars. Default in none so your IPVars will be vulnerable.
            Example: SecretKey asfasf78325678

        Debug [on/off]
            By switching debug mode on or off more details will be shown on internal error page.

        Commenting
            By adding a single space it the begining of line or '#' the line won't be evaluated.

    ########################################################################################################################################

Listen 8080
Charset UTF-8
Default default.sjs