<% include shared/header %>
            <div class="message-box">
                <div align="center"><h1>403</h1></div>
                <span>You don't have permission to access this content.</span><br><br>
                <span style="color: #dddddd;">Your IP: <%= ip %></span>
            </div>
<% include shared/footer %>