<% include shared/header %>
            <div class="message-box">
                <div align="center"><h1>404</h1></div>
                <span>Oops! The page you were looking for is not there!</span><br><br>
            </div>
<% include shared/footer %>