<% include shared/header %>
            <div class="message-box">
                <div align="center"><h1>500</h1></div>
                <span>Internal server error occured.</span><br><br>
                <span style="background: #eeeeee; width: auto; height: auto; padding: 5px; border-radius: 7px;"><%= error %></span>
            </div>
<% include shared/footer %>